# 의존성
node_modules

# 빌드 결과물
dist
build
*.tsbuildinfo

# 로그
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# 환경 변수
.env
.env.local
.env.*.local

# 에디터
.vscode
.idea
*.swp
*.swo
.DS_Store

# 테스트 커버리지
coverage
.nyc_output

# 기타
*.pid
*.seed
*.pid.lock

# AI
.order